@import "../../Variables.scss";

roundinfo
{
    position: absolute;
    padding-top: 2px;
    width: 100%;
    height: 100px;
    justify-content: center;
    color: white;
    opacity: 1;
    transition: all 0.05s ease-out;
    top: 0;
    font-family: Roboto;

    panel
    {
        flex-direction: row;
        align-items: center;
        font-size: 32px;
        justify-content: center;
        height: 60px;
    }

    .bottom
    {
        text-transform: uppercase;
        overflow: hidden;
        height: 25px;
        width: 210px;
        position: absolute;
        margin-top: 65px;
        font-size: 18px;
        opacity: 0;
        transition: opacity 0.5s ease-out;
        flex-direction: column;

        .message
        {
            text-align: center;
            top: -24px;
            transition: top 0.5s linear;
        }

        panel
        {
            background-image: linear-gradient( to right, transparent, white 40%, white 60%, transparent );
            width: 100%;
            height: 1px;
            top: -24px;
            transition: top 0.5s linear;
        }
    }

    .show
    {
        opacity: 1;

        .message
        {
            top: auto;
            transition: top 0.5s linear;
        }

        panel
        {
            top: auto;
            transition: top 0.5s linear;
        }
    }

    .left
    {
        margin: 0px 2px 0px 0px;
        background-color: $blue;
        width: 60px;
        //text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
        font-weight: 500;
    }

    .right
    {
        margin: 0px 0px 0px 2px;
        background-color: $red;
        width: 60px;
        font-weight: 500;
        //text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }

    &.hidden
    {
        display: none;
        opacity: 0;
        transform: scale(1);
    }

    .middle
    {
        flex-direction: row;
        flex-wrap: wrap;
        width: 90px;
        justify-content: space-between;
        margin-top: -1px;
        panel
        {
            background-color: $allPurposeBlack;
            height: 49%;
            font-size: 21px;
            //backdrop-filter: blur(5px);
        }

        .timer
        {
            width: 100%;
            font-size: 21px;
            margin-bottom: 2%;
        }

        .bluescore
        {
            color: $blue;
            width: 49%;
        }

        .redscore
        {
            color: $red;
            width: 49%;
        }
    }
}

.red
{
    roundinfo
    {
        .message
        {
            color: $red;
        }
    }
}

.blue
{
    roundinfo
    {
        .message
        {
            color: $blue;
        }
    }
}
