@import "../../Variables.scss";

notification
{
    transition: opacity 0.2s ease-in;
    opacity: 1;
    position: absolute;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100px;
    min-width: 500px;
    color: white;
    font-size: 40px;
    //text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    top: 200px;
    font-weight: 500;
    flex-direction: column;

    .middle
    {
        background-image: linear-gradient(to right, rgba(0 0 0 0 ), rgba(0 0 0 0.5) 15%, rgba(0 0 0 0.7)40%, rgba(0 0 0 0.7)60%, rgba(0 0 0 0.5) 85%, rgba(0 0 0 0));
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .border
    {
        width: 100%;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0 0 0 0.1 ), rgba(0 0 0 0.7) 15%, $allPurposeBlack 40%, $allPurposeBlack 60%, rgba(0 0 0 0.7) 85%, rgba(0 0 0 0.1 ));
    }

    &.hidden
    {
        opacity: 0;
    }

    &:intro
    {
        opacity: 0;
    }

    &:outro
    {
        opacity: 0;
    }
}
