@import "Variables.scss";

gameinfo
{
    margin-top: 1px;
    width: 200px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    color: white;
    font-family: Roboto;

    panel
    {
        flex-direction: row;
        align-items: center;
        font-size: 30px;
        justify-content: center;
        height: 100%;
    }

    .mid
    {
        width: 40%;
    }

    .left
    {
        margin: 0px 2px 0px 0px;
        background-color: $blueColor;
        width: 25%;
    }

    .right
    {
        margin: 0px 0px 0px 2px;
        background-color: $redColor;
        width: 25%;
    }
}

middle
{
    flex-direction: row;
    flex-wrap: wrap;

    panel
    {
        background-color: rgba(black, 0.8);
        height: 50%;
        font-size: 20px;
        backdrop-filter: blur(5px);
    }

    .timer
    {
        width: 100%;
        font-size: 20px;
    }

    .bluescore
    {
        height: 48%;
        color: $blueColor;
        width: 39.5px;
        margin-top: 1px;
        margin-right: 0.5px;
    }

    .redscore
    {
        height: 48%;
        color: $redColor;
        width: 39.5px;
        margin-top: 1px;
        margin-left: 0.5px;
    }
}
