@import "Variables.scss";

gameinfo
{
    position: absolute;
    margin-top: 2px;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 1;
    transition: all 0.05s ease-out;
    transform: scale( 1.05 );
    transform-origin: 50% 50%;

    panel
    {
        flex-direction: row;
        align-items: center;
        font-size: 30px;
        justify-content: center;
        height: 100%;
    }

    .mid
    {
        width: 80px;
    }

    .left
    {
        margin: 0px 2px 0px 0px;
        background-color: $blueColor;
        width: 50px;
    }

    .right
    {
        margin: 0px 0px 0px 2px;
        background-color: $redColor;
        width: 50px;
    }

    &.hidden
    {
        display: none;
        opacity: 0;
        transform: scale(1);
    }
}

middle
{
    flex-direction: row;
    flex-wrap: wrap;

    panel
    {
        background-color: rgba(black, 0.8);
        height: 24.5;
        font-size: 20px;
        backdrop-filter: blur(5px);
    }

    .timer
    {
        width: 100%;
        font-size: 20px;
    }

    .bluescore
    {
        color: $blueColor;
        width: 39.5px;
        margin-top: 1px;
        margin-right: 0.5px;
    }

    .redscore
    {
        color: $redColor;
        width: 39.5px;
        margin-top: 1px;
        margin-left: 0.5px;
    }
}
