@import "Variables.scss";

inventorybar
{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 200px;
    right: 0;
    bottom: 100px;

    label
    {
        font-size: 20px;
        color: #f00;
        text-align: center;
    }

    &.none
    {
        display: none;
    }
}

inventoryicon
{
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;

    label
    {
        text-align: center;
        color: #00ff21;
    }

    &.active
    {
        background-image: linear-gradient(to left, rgba(0 0 0 0.7 ), rgba(0 0 0 0.4) 80%, rgba(0 0 0 0 ));
    }

    image
    {
        position: absolute;
        right: 0;
        width: 200px;
        height: 200px;
        background-size: 100%;
        transform: scaleX(-1);
    }

    .slot-number
    {
        position: absolute;
        color: white;
        right: 0;
        top: 0;
    }

    &.hidden
    {
        display: none;
    }
}

.red
{
    inventoryicon
    {
        image
        {
            background-image-tint: $redColor;
        }
    }
}

.blue
{
    inventoryicon
    {
        image
        {
            background-image-tint: $blueColor;
        }
    }
}
