@import "Variables.scss";

killfeed
{
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 100;
    flex-direction: column-reverse;
    width: 500px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    align-items: flex-end;
}

killfeedentry
{
    background-color: rgba(0 0 0 0.8);
    margin-bottom: 5px;
    color: white;
    transition: all 0.2s ease-out;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 12px;
    height: 30px;
    position: relative;
    align-items: center;

    &:outro
    {
        opacity: 0;
    }
    
    .icon
    {
        width: 100px;
        height: 100px;
        background-size: 100%;
        background-image-tint: red;
    }

    .left, .right
    {
        padding: 0 12px;
        color: #fc0;

        &.me
        {
            font-weight: bold;
        }
    }

    .red
    {
        color: $redColor;
    }

    .blue
    {
        color: $blueColor;
    }

    .method
    {
        &.me
        {
            color: black;
        }
    }


    &.me
    {
        background-color: rgba(255 255 2255 0.6);
        color: black;
    }

    .message
    {
        color: #ccc;
        font-size: 14px;
        // background-color: red;
        flex-grow: 1;
    }

    &.noname .name
    {
        display: none;
    }

    &.noavatar image
    {
        display: none;
    }
}
