@import "Variables.scss";

killfeed
{
    position: absolute;
    top: 50px;
    right: 100px;
    z-index: 100;
    flex-direction: column-reverse;
    width: 500px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    align-items: flex-end;
}

killfeedentry
{
    background-color: rgba(black 0.8);
    margin-bottom: 5px;
    color: white;
    transition: all 0.2s ease-out;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 12px;
    height: 32px;
    position: relative;
    align-items: center;
    backdrop-filter: blur(10px);
    border-radius: 5%;

    &:outro
    {
        opacity: 0;
    }

    .left, .right
    {
        padding: 0 12px;
        color: #fc0;

        &.me
        {
            font-weight: bold;
        }
    }

    .red
    {
        color: $redColor;
    }

    .blue
    {
        color: $blueColor;
    }

    .method
    {
        width: 100px;
        height: 100px;
        background-size: 100%;
        background-image-tint: white;
    }


    &.me
    {
        background-color: rgba(255 255 255 0.6);
        color: black;

        .method
        {
            background-image-tint: black;
        }
    }

    .message
    {
        color: #ccc;
        font-size: 14px;
        // background-color: red;
        flex-grow: 1;
    }

    &.noname .name
    {
        display: none;
    }

    &.noavatar image
    {
        display: none;
    }
}
