@import "Variables.scss";

scoreboard
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(black 0.8);
    width: 750px;
    height: 500px;
    opacity: 0;
    align-items: center;
    flex-direction: column-reverse;
    backdrop-filter: blur(5px);

    &.open
    {
        opacity: 1;
    }

    panel{
        width: 100%;
        height: 34%;
        flex-direction: column;
        align-items: center;
    }

    &.hidden
    {
        display: none;
    }

    .blue
    {
        background-color: rgba($blueColor 0.2);
    }

    .red
    {
        background-color: rgba($redColor 0.2);
    }
}

scoreboardentry
{
    color: white;
    width: 100%;
    margin-bottom: 1px;
    //background-color: rgba(white 0.4);
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    height: 30px;
    flex-wrap: wrap;

    label
    {
        text-align: center;
        width: 20%;
    }
}
