@import "Variables.scss";

scoreboard
{
    opacity: 0;
    flex-direction: column-reverse;
    transition: all 0.1s ease-out;
    align-items: center;
    justify-content: center;
    z-index: 100;

    &.open
    {
        opacity: 1;
    }

    panel
    {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &.hidden
    {
        display: none;
    }

    .blue
    {
        scoreboardentry
        {
            background-color: rgba($blue 0.6);
        }
    }

    .red
    {
        scoreboardentry
        {
            background-color: rgba($red 0.6);
        }
    }

    .header
    {
        color: white;
        width: 750px;
        align-items: center;
        justify-content: center;
        height: 30px;
        background-color: $allPurposeBlack;
        flex-direction: row;

        label
        {
            text-align: center;
            width: 20%;
        }
    }
}

scoreboardentry
{
    color: white;
    width: 750px;
    background-color: rgba(white 0.6);
    align-items: center;
    justify-content: center;
    height: 30px;

    label
    {
        text-align: center;
        width: 20%;
    }
}
