@import "Variables.scss";

$csc: #ffa800;

teamselect
{
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: $allPurposeBlack;
    align-content: baseline;
    flex-wrap: wrap;
    font-family: 'Verdana' sans-serif;
    padding: 20px;
    pointer-events: all;
    text-transform: uppercase;
    color: $csc;
    opacity: 0;

    &.hidden
    {
        display: none;
    }

    &.open
    {
        opacity: 1;
    }

    .logo
    {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 100px;
    }

    .button-1
    {
        position: absolute;
        top: 150px;
        left: 0;
    }

    .button-2
    {
        position: absolute;
        top: 220px;
        left: 0;
    }

    .button-3
    {
        position: absolute;
        top: 360px;
        left: 0;
    }

    .left-container
    {
        flex-wrap: wrap;
        height: 10%;
        width: 50%;
    }

    button:hover
    {
        color: black;
        background-color: $csc;
    }

    button
    {
        font-size: 40px;
        width: 100%;
        height: 55px;
        padding-left: 10px;
        border: 1px solid $csc;
    }

    .breaker
    {
        width: 100%;
    }
}
