$defaultColor: #ff0;
$blue: #0092ff;
$red: #ff0000;
$darkBlue: #1d4174;
$darkRed: #640d0d;
$darkerBlue: #0c274e;
$darkerRed: #440505;
$allPurposeBlack: rgba(black 0.8);
$allPurposeGray: #a4a4a4;
$transparentWhite: rgba(255 255 255 0.6);