$defaultColor: #ff0;
$blue: #0092ff;
$red: #ff0000;
$darkBlue: #1d4174;
$darkRed: #640d0d;
$darkerBlue: #0c274e;
$darkerRed: #440505;
$allPurposeBlack: #1b1b1b;
$blackBorder: #0e0e0e;
$allPurposeGray: #a4a4a4;
$allPurposeWhite: #ebebeb;
$transparentBlack: rgba(black 0.9);