@import "../../Variables.scss";

killconfirmed
{
    position: absolute;
    height: 150px;
    width: 300px;
    bottom: 100px;
    background-color: black;
    transition: opacity 0.6s ease-out;
    transition: all 0.4s ease-out;
    color: white;
    border-radius: 5%;
    background-color: $allPurposeBlack;
    opacity: 1;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;

    label
    {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-left: 5%;

        &.name
        {
            position: absolute;
            top: 70%;
            width: 150px;
            font-size: 30px;
        }

        &.distance
        {
            width: 100px;
            left: 20px;
            bottom: 5px;
        }
    }

    image
    {
        width: 64px;
        height: 64px;
        background-size: 100%;
        min-height: 32px;

        &.terry
        {
            position: absolute;
            right: 0;
            background-size: 100%;
            width: 128px;
            height: 128px;
            bottom: 5px;

            &.hit
            {
                background-image-tint: green;
            }
        }

        &.avatar
        {
            left: 0;
            top: 0;
            border-radius: 50%;
        }
    }


    &:intro
    {
        opacity: 0;
    }

    &:outro
    {
        opacity: 0;
    }

    &.blue
    {
        background-color: $darkBlue;
        border: 5px solid $darkerBlue;

        .avatar
        {
            border: 3px solid $darkerBlue;
        }

        .name
        {
            border-bottom: 2px solid $darkerBlue;
        }
    }

    &.red
    {
        background-color: $darkRed;
        border: 5px solid $darkerRed;

        .avatar
        {
            border: 3px solid $darkerRed;
        }

        .name
        {
            border-bottom: 2px solid $darkerRed;
        }
    }

    &.hidden
    {
        display: none;
    }
}
