@import "../../Variables.scss";

killconfirmed
{
    position: absolute;

    &.hidden
    {
        display: none;
    }

    height: 150px;
    width: 300px;
    bottom: 100px;
    background-color: black;
    transition: opacity 0.2s ease-in;
    color: white;
    border-radius: 10%;
    border: 1px solid grey;
    background-color: $allPurposeBlack;
    opacity: 1;
    padding: 10px;

    label
    {
        text-align: center;
        position: absolute;
        text-transform: uppercase;

        &.name
        {
            left: 20px;
            top: 20px;
        }

        &.distance
        {
            width: 100px;
            left: 20px;
            bottom: 5px;
        }
    }

    image
    {
        width: 64px;
        height: 64px;
        background-size: 100%;
        border-radius: 10%;
        min-height: 32px;
        border-radius: 10%;
        position: absolute;

        &.terry
        {
            right: 20px;
            background-size: 100%;
            width: 128px;
            height: 128px;
            bottom: 10px;

            &.hit
            {
                background-image-tint: green;
            }
        }

        &.avatar
        {
            left: 40px;
            bottom: 40px;
        }
    }


    &:intro
    {
        opacity: 0;
    }

    &:outro
    {
        opacity: 0;
    }
}
