viewercount
{
    position: absolute;
    top: 0;
    left: 1%;
    width: 80px;
    height: 60px;
    padding-top: 2px;
    color: white;
    font-size: 24px;
    align-items: center;
    justify-content: center;

    .icon
    {
        background-image-tint: green;
    }

    label
    {
        margin-left: 10%;
        font-weight: bold;
    }

    &.hidden
    {
        display: none;
    }
}
