@import "../../Variables.scss";

crosshair
{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1.5px solid $defaultColor;
    border-radius: 50%;
    justify-content: center;
    transition: all 0.1s ease-in;

    &.fire
    {
        width: 45px;
        height: 45px;
    }

    &.hidden
    {
        display: none;
    }
}
