@import "../../Variables.scss";

weaponlookat
{
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    width: 200px;
    height: 100px;
    background-color: $allPurposeBlack;
    border: 3px solid $blackBorder;
    bottom: 400px;
    border-radius: 25%;
    transition: opacity 0.2s ease-in;

    inputhint
    {
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;

        .glyph
        {
            margin-right: 10px;
        }
    }

    .icon
    {
        width: 100px;
        height: 100px;
        background-size: cover;
        background-image-tint: white;
    }

    &:intro
    {
        opacity: 0;
    }

    &:outro
    {
        opacity: 0;
    }
}
