@import "../../Variables.scss";

teamindicator
{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 50px;
    color: $defaultColor;
    background-color: $allPurposeBlack;
    border-top: 3px solid $blackBorder;
    border-right: 3px solid $blackBorder;
    border-top-right-radius: 5%;
    height: 50px;
    min-width: 200px;
    justify-content: center;
    align-items: center;

    &.hidden
    {
        display: none;
    }
}

.blue
{
    teamindicator
    {
        color: $blue;
    }
}


.red
{
    teamindicator
    {
        color: $red;
    }
}
