@import "../../Variables.scss";

mapselect
{
    position: absolute;
    background-color: $allPurposeBlack;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .header
    {
        color: white;
        font-size: 30px;
        top: 100px;
        position: absolute;
    }

    progressbar
    {
        .inner-panel
        {
            background-color: green;
            transition: width 0.2s ease-out;
            border-radius: 25%;
        }

        position: absolute;
        border: 1px solid white;
        border-radius: 25%;
        height: 15px;
        width: 50%;
        top: 200px;
    }

    .map-list
    {
        position: absolute;
        justify-content: space-around;
        width: 100%;
        height: 80%;
        bottom: 0;
        padding-top: 150px;
    }
}

entry
{
    width: 256px;
    height: 256px;
    background-size: 100%;
    pointer-events: all;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 256px;
    font-size: 24px;
    border-radius: 10%;
    transform: scale(1);
    transition: all 0.2s ease-out;

    &:intro
    {
        transform: scale(0);
    }

    &.voted
    {
        background-image-tint: lightgreen;
        transform: scale(1.2);
    }

    .vote-count
    {
        position: absolute;
        font-size: 30px;
        padding-top: 350px;
    }
}
