@import "../Variables.scss";

bombdefuse
{
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    width: 200px;
    height: 100px;
    background-color: $allPurposeBlack;
    bottom: 400px;
    border-radius: 25%;
    transition: opacity 0.2s ease-in;
    flex-direction: column;
    opacity: 1;

    inputhint
    {
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;

        .glyph
        {
            margin-right: 10px;
        }
    }

    progressbar
    {
        .inner-panel
        {
            background-color: green;
            transition: width 0.2s ease-out;
            border-radius: 25%;
        }

        border: 1px solid white;
        border-radius: 25%;
        height: 10px;
        width: 90%;
    }

    &:intro
    {
        opacity: 0;
    }

    &:outro
    {
        opacity: 0;
    }
}
